*{
    margin: 0;
    width: 100%;
    height: 100%;
}

.navbar{
    height: 10%;
    width: 100%;
    background-color: red;
}
.navbar ul{
    display: inline-flex;
}
.navbar ul li a{
    padding: 10px 10px;
    height: 20px;
    width: 20px;
    background-color: aliceblue;
}
.navbar ul li{
    margin: 0;
    padding: 0;
    list-style: none;
    
}

.section1 div{
    height: 100px;
    width: 100px;
    display: inline-flex;
    background-color: #fff;
    border: 2px solid black;
}
.section1{
    height: 80%;
    width: 100%;
    background-color: blue;
}

.footer{
    width: 100%;
    height: 10%;
    background-color: green;
}
.footer ul {
    display: inline-flex;
}
.footer ul li{
    list-style: none;
}

.footer ul li a{
    padding: 10px 10px;
    background-color: aliceblue;
}