*::before,
*::after,
*{
    box-sizing: border-box;
}

/* Custom properties */

:root{
    --ff-primary: "Source Sans Pro", sans-serif;
    --ff-secondary: "Source Sans Pro", monospace;

    --fw-regular: 400;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    --fs-h1: 2em;
    /* --fs-h1: clamp(2em, 3.8em, 4.5em); */
    --fs-h2: 1.25em;
    --fs-h3: 1em;
    --fs-body: .8em;

   
}

@media(min-width:800px){
    :root{
    --fs-h1: 3.8em;
    --fs-h2: 2.9em;
    --fs-h3: 1.7em;
    --fs-body: 1.05em;
    }
}
@media(min-width:1200px){
    :root{
    --fs-h1: 4.5em;
    --fs-h2: 3.2em;
    --fs-h3: 2.35em;
    --fs-body: 1.5em;
    }
}

/* Typography */

.add__section--title, .removeAllBtn{
    font-family: var(--ff-primary);
    font-size: var(--fs-h1);
    line-height: 1;
}

#add__section--input{
    font-family: var(--ff-secondary);
    font-size: var(--fs-body);
}
input[type=button]
{
    font-size: var(--fs-body);
}
.completeBtn, .removeBtn{
    font-size: var(--fs-h3);
}

.task__list, .task__list--item{
    font-family: var(--ff-secondary);
    font-size: var(--fs-body);
}

/* General Styles */

body{
    background-color: gray;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.wapper{
    display: grid;
    column-gap: 1em;
    
    margin: 0 auto;
    grid-template-areas: 
        "add task"
        "task list"
        "remove btn";
    justify-items: center;
}




/* Add section */

.add__section{
    background-color: var(--clr-dark);
    color: var(--clr-light);
    width: 65%;
    text-align: center;
    grid-area: "add task";
    grid-row: 1;
}


#add__section--input{
    display: inline-block;
    position: relative;
}
input[type = text]
{
    padding: .5em;
    width: 12em;
    padding-right: 1em;
}
input[type=button] {
    width: 2.7em;
    padding: .07em;
    position: absolute;
    
    
}

#add__section--input{
    margin: 0;
    height: 1.5em;
    margin-bottom: 1em;
}

.addBtn{
    margin: 0;
}

@media(min-width:600px){

input[type = text]
{
    width: 20em;
}
input[type=button] {
    width: 5em;
}
}

/* Task section */

.task__section{
    background-color: var(--clr-light);
    grid-area: "task list";
    grid-row: 2;
    width: 65%;
}
.task{
    font-weight: 700;
}


.task__list{
    list-style: none;
}
.task__list--item{
    font-size: var(--fs-body);
    display: flex;
}
.removeBtn{

    color: var(--clr-dark);
    background-color: transparent;
    border: none;
}

ul li.checked p{
    color: var(--clr-accent);
    text-decoration: line-through;
}

@media(min-width:600px)
{
    /* Nothing here */
}

/* Remove section */

.remove__section{
    margin-top: 5em;
    grid-area: "remove btn";
    grid-row: 3;
}

.removeAllBtn{
    background-color: var(--clr-dark);
    color: var(--clr-light);
}