html,
body {
    height: 100%;
}


#butterfly {
    height: 100px;
    width: auto;
    position: absolute;
    z-index: 2;
}

#wateringcan {
    width: 200px;
    position: fixed;
    bottom: 8%;
    left: 40%;
    
}


.waterdrop {
    width: 20px;
    position: absolute;
    bottom: 23%;
    left: 40.5%;
}

#net {
    height: 300px;
    width: auto;
    position: absolute;
    left: 50%;
}

.apple {
    height: 50px;
    width: auto;
    position: absolute;
    z-index: 0;
}

#apple1{
    
    left:65%;
    top:20%;
}
#apple2{
    position: fixed;
    left:73%;
    top:15%;
}
#apple3{
    position: fixed;
    left:80%;
    top:25%;
}

#tree {
    position: fixed;
    bottom: 20px;
    left: 50%;
    z-index: -2;
}

.basket {
    width: 200px;
    position: fixed;
    bottom: 20px;
    left: 20%;
    z-index: -1;
}
#basketfront{
    z-index: 1;
}


body {
    margin: 0px;
    background-image: url("../images/grass.png");
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-position: bottom;
    overflow: hidden;
}
