* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.wapper {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2rem;
  background-image: url(./images/background1.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 754px;
  position: relative;
}
header {
  width: 100;
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 1%;
  margin-bottom: 10%;
}
.main {
  font-size: 2rem;
  font-weight: 600;
  float: left;
  color: darkolivegreen;
}
nav {
  font-size: 1.8rem;
  font-weight: 100;
  text-transform: uppercase;
}
nav ul li {
  padding: 8px 17px;
  display: inline-flex;
  float: right;
}
nav ul li:hover {
  border: 2px solid crimson;
  border-radius: 30px;
  padding: 8px 12px;
  transition: all 1s ease;
}
nav ul li a {
  text-align: center;
  list-style: none;
  text-decoration: none;
  color: crimson;
}

/* Movies.html */

.movieContainer {
  margin-left: 3%;
  width: 26%;
  border: 5px solid rgba(85,107, 137, 0.6);
  overflow: hidden;
  z-index: 0;
  position: absolute;
  right: 40%;
}

.movieSlide {
  display: flex;
  width: 100%;
  height: 500px;
}
#right{
  width: 27%;
  position: absolute;
  color: crimson;
  z-index: 1;
  left: 70%;
  font-size: 1.8rem;
}
.movieDescContainer{
  position: absolute;
  width: 25%;
  color: wheat;
  height: 500px;
}
.movieDesc{
  font-size: 1.4rem;
  color: #ccc;
}
.buttons{
  position: absolute;
  bottom: 6%;
  right: 49%;
  display: flex;
}
#prevBtn, #nextBtn {
  color: #ccc;
  font-size: 1rem;
  border: 2px solid crimson;
  border-radius: 30px;
  padding: 3% 3%;
  background-color: transparent;

}
.buttons #prevBtn:focus,
.buttons #nextBtn:focus {
  outline: none;
}
.buttons 
#prevBtn:hover,
.buttons #nextBtn:hover {
  background-color: rgba(230, 230, 230, 0.6);
  transition: all 1s ease;
}
.footer{
  position: absolute;
  bottom: 1%;
  font-size: 1rem;
  color: #ccc;
}