* {
  margin: 0;
  padding: 0;
}
.wapper {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2rem;
  background-image: url(./images/background1.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 754px;
  overflow: hidden;
}
header {
  width: 100;
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 1%;
  margin-bottom: 14%;
}
.main {
  font-size: 2rem;
  font-weight: 600;
  float: left;
  color: darkolivegreen;
}
nav {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  font-weight: 100;
  text-transform: uppercase;
}
nav ul li {
  padding: 8px 17px;
  display: inline-flex;
  float: right;
}
nav ul li:hover {
  border: 2px solid crimson;
  border-radius: 30px;
  padding: 8px 12px;
  transition: all 1s ease;
}
nav ul li a {
  text-align: center;
  list-style: none;
  text-decoration: none;
  color: crimson;
}
.section1 {
  padding-left: 2%;
  width: 100%;
  font-size: 1.2rem;
  display: inline-flex;
}
.first {
  width: 20%;
  color: #ccc;
}
.second {
  position: relative;
  right: -55%;
  width: 20%;
  color: darkolivegreen;
  text-align: right;
}
.section1_btn {
  padding-top: 13%;
  width: 100%;
  text-align: center;
}
.sub_button a {
  text-decoration: none;
  color: crimson;
}
.sub_button {
  font-size: 2rem;
  border: 2px solid crimson;
  border-radius: 30px;
  padding: 1.5% 1.5%;
  background-color: transparent;

  margin-bottom: 1.5%;
}
.sub_button:focus {
  outline: none;
}
.sub_button:hover {
  padding-left: 3%;
  padding-right: 3%;
  background-color: rgba(230, 230, 230, 0.6);
  transition: all 1s ease;
}
.footer {
  margin-top: 2%;
  font-size: 1rem;
  color: #ccc;
}
.footer2 {
  margin-top: 22%;
  font-size: 1rem;
  color: #ccc;
}
.pricing {
  width: 100;
  min-height: 754px;
  display: flex;
  padding: 0;
  margin: 0;
  background-color: #000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.8rem;
  background-image: url(./images/background2.jpeg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: static;
  align-items: center;
}
.box1 {
  padding-left: 4%;
  width: fit-content;
}
.bundle1 {
  color: darkolivegreen;

  background-color: rgba(230, 230, 230, 0.4);
}
.bundle1 li {
  text-align: center;
  list-style: none;
  border: 2px solid darkolivegreen;
  padding: 15px;
}
.box2 {
  padding-left: 15%;
  width: fit-content;
}
.bundle2 {
  color: red;
  background-color: rgba(230, 230, 230, 0.4);
}
.bundle2 li {
  list-style: none;
  text-align: center;
  border: 2px solid crimson;
  padding: 15px;
}
.box3 {
  width: fit-content;
  padding-left: 15%;
}
.bundle3 {
  color: white;
  background-color: rgba(230, 230, 230, 0.4);
}
.bundle3 li {
  list-style: none;
  text-align: center;
  padding-right: 15px;
  border: 2px solid white;
  padding: 15px;
}
#head {
  text-align: center;
  font-size: 3.7rem;
}
.button1,
.button2,
.button3 {
  margin-top: 40px;
  margin-left: 20%;
  font-size: 2rem;
  border-radius: 30px;
  padding: 1.5% 1.5%;
  background-color: transparent;
}
.button1 {
  border: 2px solid darkolivegreen;

  color: darkolivegreen;
}
.button2 {
  border: 2px solid crimson;

  color: crimson;
}
.button3 {
  border: 2px solid white;

  color: white;
}
.button1:hover,
.button2:hover,
.button3:hover {
  padding-left: 3%;
  padding-right: 3%;
  background-color: rgba(230, 230, 230, 0.6);
  transition: all 0.5s ease-out;
}
.button1:focus,
.button2:focus,
.button3:focus {
  outline: none;
}
